
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1483793229742'); /* IE9*/
  src: url('iconfont.eot?t=1483793229742#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1483793229742') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1483793229742') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1483793229742#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-load:before { content: "\e6a4"; }

.icon-time:before { content: "\e66a"; }

.icon-expand:before { content: "\e60a"; }

.icon-like:before { content: "\e6bd"; }

.icon-index:before { content: "\e605"; }

.icon-comment:before { content: "\e604"; }

.icon-catalog:before { content: "\e696"; }

.icon-view:before { content: "\e645"; }

.icon-close:before { content: "\e600"; }

.icon-label:before { content: "\e63f"; }

